<div class="col-sm-3">

</div>

<div class="col-sm-6">
  <h1>Jobs</h1>
  <% @jobs.each do |job| %>
  <div class="well">
    <h3><%= link_to job.title, job_path(job)%></h3>
    <p>Company: <%= job.company %></p>
    <p><%= job.description %></p>
  </div>
  <% end %>
</div>

<div class="col-sm-3">

</div>
